$light-gray: #f5f7fa;
$dark-gray: #434a54;

$sunflower-light: #ffce54;
$sunflower-dark: #f6bb42;

$blue-jeans: #4a89dc;

$grapefruit-light: #ed5565;
$grapefruit-dark: #da4453;

.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: $light-gray;
}

.bg-dark {
  background-color: $dark-gray;
}

.text-light {
  color: $light-gray;
}

.text-dark {
  color: $dark-gray;
}
