.d-flex {
  display: flex;
}

.flex-fill {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}


.flex-wrap {
  flex-wrap: wrap;
}
