.ml-1 {
  margin-left: .5rem;
}

.ml-2 {
  margin-left: 1rem
}

.ml-3 {
  margin-left: 1.5rem
}

.mt-1 {
  margin-top: .5rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.m-2 {
  margin: 1rem;
}

.my-2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.p-2 {
  padding: 1rem;
}

